body {
  font-size: 14pt;
  font-weight: 400;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div {
  display: flex;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h3 {
  font-size: 24px;
}

h4 {
  color: #508015;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 0;
  border-bottom: 2px solid #508015;
}

#page-layout {
  flex-direction: column;
  background-color: white;
  height: 100vh;
  width: 80vw;
  margin: 0 auto;
}
