/* Global CSS — use anywhere without importing */

body {
  background-image: url("./assets/images/bkg.jpg");
  background-attachment: fixed;
  font-family: "Karla", sans-serif;
  font-size: 14pt;
  font-weight: 400;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div {
  display: flex;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h2 {
  font-family: "Unica One", cursive;
  font-size: 32px;
  margin: 0;
}

h3 {
  color: #508015;
  font-family: "Karla", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 0;
  border-bottom: 2px solid #508015;
}
